@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        body {
            background-color: black;
        }

        .card-img-top {
            border: 3px solid yellow;
            border-radius: 20px;
            height: 100%;
        }

        .display-4 {
            color: white;
            font-size: 45px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .row {
            margin-bottom: .75rem;
            --bs-gutter-x: .75rem;
        }
    </style>
}


<div class="text-center">
    <h2 class="display-4">Explore Luxurious Hotels</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI=" alt="Luxury Resort">
            </div>
            <div class="col-md-3">
                    <img class="card-img-top" src="https://samchui.com/wp-content/uploads/2018/07/St-Regis-Dubai-Luxury-Hotel-in-Dubai-Exterior-Shot.jpg" alt="St. Regis Dubai">
            </div>
            <div class="col-md-3">
                    <img class="card-img-top" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/106257638.jpg?k=4dd13a3f0f19081704cd50ee377462f2d13ea0662e577576e98bedc711005334&o=&hp=1" alt="Hotel Room">
            </div>
            <div class="col-md-3">
                    <img class="card-img-top" src="https://media.cntraveler.com/photos/6320d726fae6e445e2494b55/master/w_1600,h_1067,c_limit/nobu-hotel-london-portman-square-lobby-2-conde-nast-traveller-09dec20-jack-hardy.jpg" alt="Nobu Hotel London">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://content.r9cdn.net/res/images/horizon/ui/seoCommon/destinationtiles/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&amp;cluster=4" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.themayflowerhotel.com/wp-content/uploads/sites/22/2019/10/the-mayflower-hotel-exterior-lights.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://media.istockphoto.com/id/185084845/photo/luxurious-hotel-room.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=m2ub3QHAb_lKb7yAduxi9gr7BXWGDp9pdh4Un7mJ5ds=" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://media.millenniumhotels.com/Live/B/2/8/B286539D-B2DC-45C2-AA6C-C357236F61FF/Studio%20Suite.jpg?r=220722034325" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://hi-cdn.t-rp.co.uk/images/rooms/0/23731?width=750&height=400&crop=true" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://3332e2ed775ffc11c828-f4ece2a221505de52cdc57e57a9b32da.ssl.cf1.rackcdn.com/hotel-colee/media/img_4623-2-605a9399c1d73-621667e98a031.jpeg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://3332e2ed775ffc11c828-f4ece2a221505de52cdc57e57a9b32da.ssl.cf1.rackcdn.com/hotel-colee/media/hotelcolee-images-07-615343c3ea583.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.manila-hotel.com.ph/wp-content/uploads/2020/06/TMH_Facade_1-optimized-e1598429179579.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB4VflRDhT1wMbRrNdsvID2fn2WVTmKCRtcA&usqp=CAU" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.angadartshotel.com/wp-content/uploads/2021/06/04195637/Angad-Arts-Hotel-4G3A5362-2-extandet-scaled.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://media1.riverfronttimes.com/riverfronttimes/imager/u/original/36452616/screen_shot_2018-02-28_at_8.36.26_am.png" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.planetware.com/wpimages/2020/01/best-underwater-hotels-muraka-conrad-maldives-rangali-island.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://res.cloudinary.com/hzekpb1cg/image/upload/c_fit,w_592,f_auto/s3/public/prod/s3fs-public/compra-colchones_0.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/900/450/75/vision-dam/digital/parks-platform/parks-global-assets/disneyland/resorts/disneys-grand-californian-hotel-and-spa/spa/Relaxation-Lounge-16x9.jpg?2021-11-01T16:41:40+00:00g" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://media.architecturaldigest.com/photos/57e42deafe422b3e29b7e790/master/pass/JW_LosCabos_2015_MainExterior.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.thehari.com/hong-kong/wp-content/uploads/sites/5/2020/10/HariHK-3654-1024x851.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://image-tc.galaxy.tf/wijpeg-72guda5fgp2ngqefeljqpa82x/kingbedguestroom_standard.jpg?crop=107%2C0%2C1707%2C1280" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAqIoHZRbnep5KzHJ-X9IbPpju9YIsf__8W0PMK_aI3U6To1Vnt0gPpeNwJSUPCS9bUvE&usqp=CAU" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://pix10.agoda.net/hotelImages/22929845/0/663323a9abfa122af7a33d9fb7f588fa.jpg?ca=23&ce=0&s=1024x768" class="card-img-top" alt="...">
            </div>
            <div class="col-md-3">
                    <img src="https://www.thegeorgelichfield.co.uk/assets/galleries/hotel/ac7c34b95e/The-George-Hotel-in-Lichfield-Hotel-Exterior__FocusFillWzE5MjAsODAwLCJ5IiwyNDBd_ScaleMaxWidthWzE5MjBd.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <img src="https://www.the-yeatman-hotel.com/fotos/imagens_ambiente/bacchus_suite_banner_22088944859107d2c39064_5738536455c1bbf491b7ef.jpg" class="card-img-top" alt="Bacchus Suite">
            </div>
            <div class="col-md-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZoU1F5H8FSPCn42ODceBpg8Uog_M6d26VtA&usqp=CAU" class="card-img-top" alt="Infinity Pool">
            </div>
        </div>
    </div>

 </div>

